$font-color: #24292e;
$focus-color: #66ccff;
$font-size: 15px;
$main-color: #ffb500;
$sub-color: #f9f7f0;
$transition: all 0.2s;
$radius: 10px;
$gap: 20px;
$outline-color: #e1e4e8;

.container {
  margin: 0;
  padding: $gap;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  background-color: $sub-color;
  height: 100vh;

  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;

    .emoji-container {
      display: block;
      margin: 0 10px;
      padding: 0;
      text-align: center;
      // background-color: dodgerblue;

      .emoji {
        text-align: center;
        font-size: 15rem;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 1);
        line-height: 1;
        cursor: pointer;
      }

      .date {
        text-align: left;
        margin-top: 15px;
        font-size: $font-size * 2;
        font-weight: 700;
        color: $main-color;
      }

      input,
      textarea {
        width: 50vw;
        display: block;
        border: 0;
        border-radius: $radius;
        padding: $gap / 2;
        margin-bottom: $gap;
        background-color: transparent;
        transition: $transition;
        &:focus,
        &:focus {
          outline: none;
          background-color: #fff;
        }
      }

      .title {
        font-size: $font-size * 1.5;
        font-weight: 400;
      }

      .message {
        font-size: $font-size;
        min-height: 10rem;
      }

      button {
        width: calc(50% - 5px);
        padding: $gap / 2;
        border: 0;
        font-weight: 400;
        font-size: $font-size;
        overflow: hidden;
        border-radius: $radius;
        color: #fff;
      }

      button:focus {
        outline: none;
        border-color: $focus-color;
        box-shadow: 0 0 10px $focus-color;
      }

      .save {
        margin-right: 5px;
        background: $main-color;
      }

      .cancel {
        margin-left: 5px;
        background-color: #c8c8c8;
      }
    }
  }
}
